@media screen and (max-width: 1400px) {
    .wrapper .filter-menu {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .gallery .filter-items {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

}

@media screen and (max-width: 1120px) {
    .main-menu ul li {
        padding: 0 0.2rem;
    }
}

@media screen and (max-width: 992px) {
    .main-menu {
        position: relative;
        top: initial;
        left: initial;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

}

@media screen and (max-width: 960px) {
    .service-gallery-content .service-project-title-area {
        padding: 0 2rem 0 2rem;
    }

    .service-gallery-content .service-project-title-area p {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 920px) {
    .carousel-caption {
        width: 600px;
    }

    .carousel-caption h5 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 840px) {
    .service-gallery-content .preview-details p {
        font-size: 1.2rem;
        padding-left: 2rem;
    }
}

@media screen and (max-width: 730px) {
    .footer-col.location {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 780px) {
    .topbar {
        padding: 0.7rem 3rem;
    }

    .navbar-brand {
        padding-left: 2rem;
    }

    .carousel-caption {
        width: 500px;
    }

    .carousel-caption h5 {
        font-size: 2.6rem;
    }

    .carousel-caption p {
        padding: 0.8rem 1rem;
    }

    .carousel-caption p a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 760px) {
    .service-row-img {
        height: 500px;
        width: 560px;
    }

    .service-row-text {
        height: 320px;
        width: 580px;
    }

    .service-row-text h2 {
        font-size: 2rem;
        padding: 1.4rem 1.4rem 0 1.4rem;
    }

    .service-row-text h2::first-letter {
        font-size: 2.4rem;
    }

    .service-row-text p {
        padding: 0.6rem 1.4rem 0 1.4rem;
    }

}

@media screen and (max-width: 740px) {
    .lightbox {
        max-width: 600px;
        max-height: 400px;
    }
}

@media screen and (max-width: 660px) {
    .topbar {
        padding: 0.7rem 0.4rem;
    }

    .info-content p,
    .location-topbar p {
        font-size: 1rem;
    }

    .info-content .phone,
    .info-content .email {
        margin-top: 0.2rem;
    }

    .navbar-brand {
        padding-left: 0.6rem;
    }
}

@media screen and (max-width: 620px) {
    .service-row-img {
        height: 400px;
        width: 460px;
    }

    .service-row-text {
        height: 320px;
        width: 480px;
    }

    .service-row-text p {
        font-size: 1rem;
    }

    .lightbox {
        max-width: 500px;
        max-height: 360px;
    }

    .lightbox-header {
        padding-bottom: 0.4rem;
    }
}

@media screen and (max-width: 520px) {
    .carousel-caption {
        width: 380px;
    }

    .carousel-caption h5 {
        font-size: 2.2rem;
    }

    .service-row-img {
        height: 360px;
        width: 400px;
    }

    .service-row-text {
        height: 300px;
        width: 400px;
    }

    .service-row-text h2 {
        font-size: 1.4rem;
        padding: 1rem 1rem 0 1rem;
    }

    .service-row-text h2::first-letter {
        font-size: 1.8rem;
    }

    .service-row-text p {
        padding: 0.4rem 1rem 0 1rem;
    }

    .lightbox {
        max-width: 460px;
        max-height: 320px;
    }

    .lightbox-header {
        padding-bottom: 0.2rem;
    }
    .carousel-inner {
        height: 400px;
    }
    .carousel-caption {
        width: 800px;
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -55%);
        -ms-transform: translate(-50%, -55%);
        transform: translate(-50%, -55%);
    }
    
}

@media screen and (max-width: 480px) {
    .lightbox {
        max-width: 420px;
        max-height: 280px;
    }

    .filter-menu li {
        padding: 0.3rem 1rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 440px) {
    .service-row-img {
        height: 360px;
        width: 360px;
    }

    .service-row-text {
        height: 360px;
        width: 360px;
    }

    .service-row-text h2 {
        font-size: 1.4rem;
        padding: 2rem 1rem 0 1rem;
    }

    .service-row-text p {
        padding: 0.4rem 1rem 0 1rem;
    }

    .construction-text {
        top: 0;
        left: 0;
        -webkit-transform: translate(5%, 12%);
        -ms-transform: translate(5%, 12%);
        transform: translate(5%, 12%);
    }

    .interior-text {
        top: 0;
        left: 0;
        -webkit-transform: translate(2%, 12%);
        -ms-transform: translate(2%, 12%);
        transform: translate(2%, 12%);
    }

    .lightbox {
        max-width: 370px;
        max-height: 260px;
    }

    .service-gallery-content .service-project-title-area {
        padding: 0 1rem 0 1rem;
    }

    .service-gallery-content .service-project-title-area p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 420px) {
    .carousel-caption {
        width: 280px;
    }

    .carousel-caption h5 {
        font-size: 1.7rem;
    }

    .carousel-caption p {
        padding: 0.5rem 0.7rem;
    }

    .carousel-caption p a {
        font-size: 0.8rem;
    }

    .lightbox {
        max-width: 340px;
        max-height: 240px;
    }
}

@media screen and (max-width: 400px) {
    .navbar-brand img {
        height: 3rem;
        width: 6rem;
    }

    .nav-content .quote-btn {
        top: 0.66rem;
        right: 5.2rem;
    }

    .nav-content .quote-btn a {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .service-row-img {
        height: 340px;
        width: 100%;
    }

    .service-row-text {
        height: auto;
        width: 90%;
    }

    .service-row-text h2 {
        font-size: 1.4rem;
        padding: 2rem 1rem 0 1rem;
    }

    .service-row-text p {
        padding: 0.4rem 1rem 0 1rem;
    }

    .service-row-text .learn-more-btn {
        padding-bottom: 1.6rem;
    }

    #construction {
        margin-bottom: 4rem;
    }

    #interior {
        margin-bottom: 4rem;
    }

    .construction-text {
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 12%);
        -ms-transform: translate(-50%, 12%);
        transform: translate(-50%, 12%);
    }

    .interior-text {
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 12%);
        -ms-transform: translate(-50%, 12%);
        transform: translate(-50%, 12%);
    }
}

@media screen and (max-width: 360px) {
    .card {
        min-width: 100%;
        height: 20rem;
    }

    .filter-items .filter-content {
        min-width: 100%;
    }

    .card .card-text-content p {
        font-size: 2rem;
    }

    .lightbox {
        max-width: 300px;
        max-height: 220px;
    }

    .filter-menu li {
        padding: 0.2rem 1rem;
        font-size: 1rem;
        border-radius: 0.1rem;
    }

    .filter-items .filter-content {
        height: 260px;
    }
}

@media screen and (max-width: 340px) {
    .filter-items .filter-content .project-title-area {
        padding: 0 1rem 0 1rem;
    }

    .filter-items .filter-content .project-title-area p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 320px) {
    .navbar-brand img {
        height: 2rem;
        width: 4rem;
    }

    .nav-content .quote-btn {
        top: 0.3rem;
        right: 5.2rem;
    }

    .nav-content .quote-btn a {
        font-size: 0.6rem;
        font-weight: bold;
    }

    .gallery {
        margin-top: 7rem;
    }

    .card {
        height: 18rem;
    }

    .filter-items .filter-content .project-title-area p {
        font-size: 1.2rem;
    }

    .footer {
        margin-top: 7rem;
    }

    footer span {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 300px) {
    .footer {
        margin-top: 8rem;
    }
}